@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shadow-divider {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 9px -10px inset;
  }

  .mirror-x {
    --tw-scale-x: -1;
  }

  .text-inherit {
    color: inherit;
  }
}

.loading-bar-bottom {
  height: auto;
  position: relative;
  overflow: hidden;
}

.loading-bar-bottom::after {
  content: '';
  position: absolute;
  height: 4px;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-color: #ffffff44;
  border-radius: 2px;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}